.place {
  width: 100%;
  display: grid;
  grid-template-columns: max-content fit-content(90%);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 40px 48px;
  color: #fff;
}


@media screen and (max-width: 1024px) {
  .place {
    row-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    row-gap: 28px;
  }
}

@media screen and (max-width: 512px) {
  .place {
    grid-template-columns: max-content;
    grid-template-rows: repeat(4, max-content);
    column-gap: 40px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);
    column-gap: 32px;
  }
}